{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
	{% block extracss %} {% endblock %}
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

	<title>Pirate Party Assignment</title>
</head>
<body>

	{% block main %} {% endblock main %}

	<br>
	<a href="/linuxinschool"><button class="btn btn-primary" style="width: 200px; display: block; margin: auto;">Go to Linux in school</button></a>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.js"></script>

</body>
</html>