.title{
	color: white;
	background-color: black;
}
.fullwidth{
	width: 100%;
}
.pdfimage{
	padding: 40px;
	max-width: 400px;
	height: auto;
}
.titlerow{
 position: relative;
  height: 300px;
  background-image: linear-gradient(#FFD25A, #FF785A);
}
.svg {
  bottom: 0;
  width: 100%;
  height: 100px;
}
.header-title{
	margin-top: 30px;
	font-size: 50px;
	font-weight: bold;
}
.white{
	color: white;
}
.box-icon{
	width: 100px;
	display: block;
	margin: auto;
}
.first-svg{
	position: absolute;
}
.bgblue {
	background-image: linear-gradient(#1B9AAA, #06D6A0);
}
.bgyellow{
	background-image: linear-gradient(#F8FFE5, #FFD25A);
}
.bgwhite{
	background-image: linear-gradient(#FFF, #F8FFE5);
}
.bgmixed{
	background-image: linear-gradient(#FF785A, #1B9AAA)
}