{% extends 'base.html' %}

{% load pdf_file_methods %}

{% block main %}
<h1 class="text-center title">{{ pdf.name_displayed }}</h1>
<div class="container">
	<div class="row justify-content-center">
		<a class="text-center" href="{{ pdf|getDownloadUrl }}" target="_blank" rel="noopener"><h4>Download it now!</h4></a>
	</div>
	<div class="row justify-content-center" id="main">


		<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.2.228/pdf.js"></script>

		<script id="script">
			  
		  // Using pdf.js from mozilla lab
		  
		  var currPage = 1; //Pages are 1-based not 0-based
		  var numPages = 0;
		  var thePDF = null;

		  function handlePages(page)
		  {
		      //This gives us the page's dimensions at full scale
		      var viewport = page.getViewport({ scale: 1.5 });

		      //We'll create a canvas for each page to draw it on
		      var canvas = document.createElement( "canvas" );
		      canvas.style.display = "block";
		      var context = canvas.getContext('2d');
		      canvas.height = viewport.height;
		      canvas.width = viewport.width;

		      //Draw it on the canvas
		      page.render({canvasContext: context, viewport: viewport});

		      //Add it to the web page
		      document.getElementById("main").appendChild( canvas );

		      //Move to next page
		      currPage++;
		      if ( thePDF !== null && currPage <= numPages )
		      {
		          thePDF.getPage( currPage ).then( handlePages );
		      }
		  }

		  var url = '{{ pdf|getDownloadUrl }}';

		  pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.2.228/pdf.worker.js';

		  // Asynchronous download PDF

		  var loadingTask = pdfjsLib.getDocument(url);
		  loadingTask.promise.then(function(pdf) { 
		  	//Set PDFJS global object (so we can easily access in our page functions
		  	thePDF = pdf;

		  	//How many pages it has
		  	numPages = pdf.numPages;

		  	//Start with first page
		  	pdf.getPage( 1 ).then( handlePages );
		  });
		</script>

	</div>

</div>

{% endblock %}